In [1]:
import pandas as pd
import numpy as np 
import configparser
import re

In [5]:
# Get data from .csv files

config = configparser.ConfigParser()
config.read('../config.ini')

books_csv_url = config['URLRaw']['books']
users_csv_url = config['URLRaw']['users']
ratings_csv_url = config['URLRaw']['ratings']

df_books = pd.read_csv(books_csv_url)
df_users = pd.read_csv(users_csv_url)
df_rating = pd.read_csv(ratings_csv_url)

/var/folders/pv/gcq6fn3s0_l1qn6qdtx7srf00000gn/T/ipykernel_39197/3031620084.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv(books_csv_url)

In [ ]:
# Explore books dataset

df_books.info()
df_books.head()
# Null value

df_books['ISBN_length'] = df_books['ISBN'].str.len()
df_books['Year-Of-Publication'] = pd.to_numeric(df_books['Year-Of-Publication'], errors='coerce').fillna(0).astype(int)
df_books_len = df_books['ISBN_length'].unique().tolist()

df_books

In [120]:
# Explore books dataset

df_users.info()

df_users.head(15)

# Data transformation
# Split location column in 3 columns : city, department, country

df_users['location_city'] = df_users['Location'].str.split(',', expand=True)[0]
df_users['location_department'] = df_users['Location'].str.split(',', expand=True)[1]
df_users['location_country'] = df_users['Location'].str.split(',', expand=True)[2]

# Data transformation
# Cast age type into int

df_users['Age'] = pd.to_numeric(df_users['Age'], errors='coerce').fillna(0).astype('int')

df_users.info()

df_users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   User-ID              278858 non-null  int64
 1   Location             278858 non-null  object
 2   Age                  168096 non-null  Int64
 3   location_city        278858 non-null  object
 4   location_department  278857 non-null  object
 5   location_country     278856 non-null  object
dtypes: Int64(1), int64(1), object(4)
memory usage: 13.0+ MB

,User-ID,Location,Age,location_city,location_department,location_country
0,1,"nyc, new york, usa",<NA>,nyc,new york,usa
1,2,"stockton, california, usa",18,stockton,california,usa
2,3,"moscow, yukon territory, russia",<NA>,moscow,yukon territory,russia
3,4,"porto, v.n.gaia, portugal",17,porto,v.n.gaia,portugal
4,5,"farnborough, hants, united kingdom",<NA>,farnborough,hants,united kingdom

In [121]:
# Explore books dataset

df_rating.info()
df_rating.head()

# Data transformation
# Delete values where ISBN contains letters. It should contains only numbers

def check_contains_letters(value):
    return bool(re.match(r'^\d+$', value))


# Delete values where ISBN lenght not correspond to the ones foundo on book dataset

df_rating = df_rating[~df_rating['ISBN'].apply(lambda x: not check_contains_letters(x))]

df_rating = df_rating[df_rating['ISBN'].str.len().apply(lambda x: x in df_books_len)]


df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1047261 entries, 1 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1047261 non-null  int64
 1   ISBN         1047261 non-null  object
 2   Book-Rating  1047261 non-null  int64
dtypes: int64(2), object(1)
memory usage: 32.0+ MB